@charset "UTF-8";

:root {
  --cor1:#3E76F0;
  --cor2:#34A6F7;
  --cor3:#3AC7E0;
  --cor4:#6DF7E5;
  --cor5:#69F0B8;
}

*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  padding: 65px;
}

/*Configuração Geral da Barra de Menu*/
.topnav {
  overflow: hidden;
  background-image: linear-gradient(var(--cor1), var(--cor2));
  height: 65px;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
}

/*Configuração dos botões do meunus Não Responsivos*/
.topnav > a {
  position: relative;
  top: 15px;
  left: -2px;
}

/*Configuração da Logo Não Responsivo*/
.logo {
 width: 200px;
 position: absolute;
 right: 10px;
 top: 5px;
}


/*Configuração dos Links dos menus Não Responsivo*/
.topnav a {
  float: left;
  display: block;
  color: #dbdbdb;
  font-weight: bold;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/*Configuração ao passar o mouse nos menus, Não Responsivos*/
.topnav a:hover {
  background-color: rgba(13, 41, 133, 0.493);
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
}


/*Configuração do Botão Menu Não Responsivos*/
.topnav a.active {
  position: relative;
  background-color: var(--cor1);
  color: white;
  border-radius: 0px 4px 4px 0px;
  margin-top: 0px;
}

/*
.topnav .icon {
  display: none;
}
*/

/*Configuração dos botões Recolhimento no Responsivos*/
@media screen and (max-width: 560px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
  float: right;
  display: block;
  }
}

/*possicionar o Botão Menu Responsivo*/
@media screen and (max-width: 525px) {
  .topnav.responsive {
    position: relative;
  }
}

  /*
  .topnav.responsive {
    position: absolute;
    right: 0;
    top: 0;
  }
  */

/*
  @media screen and (max-width: 558px) {
    .topnav {
      flex-direction: column;
    }
  }
*/


/*Botão MENU Responsivo*/

/*Posicionar Botão Menu Responsivo*/
.btnResponsivo {
  position: relative;
  display: inline-block;
  margin: 15px;
  position: fixed;
}

/*Configurar Layout btnResponsivo, menu responsivo*/
.btnMenu {
  background-color: var(--cor1);
  color: white;
  font-weight: bold;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 0px 4px 4px 0px;
  position:  absolute;
  top: -67px;
  right: 8px;
}

/*Configurar Caixa de texto submenu*/
.btn-SubMenu {
  display: none;
  position: absolute;
  background-color: #3e76f0f1;
  min-width: 120px;
  top: -15px;
  right: -40px;
  border-radius: 0px 0px 7px 0px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
/*Configurar Texto do SubMenu*/
.btn-SubMenu a {
  color: #dbdbdb;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
}

/*Configurar ao Passar o Mouse nos SubMenus*/
.btn-SubMenu a:hover {
  background-color: #220ddb8a;
}
.btnResponsivo:hover .btn-SubMenu {
  display: block;
}

.btnResponsivo:hover .btnMenu {
  background-color: var(--cor1);
}

/*Sumir botão ao chegar nesse tamanho*/
@media screen and (min-width: 560px) {
  .btnResponsivo {
    display: none;
  }
}

/*
.logorespon {
  height: 50px;
  position: absolute;
  left: 270px;
}
*/

/*Ao chegar nesse tamanho, trocar logo*/
@media screen and (max-width: 560px) {
  .logo {
    width: 160px;
    top: 10px;
  }
}

/*Configuração da Caixa de Texto Main*/
main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
  padding: 15px;
  background-color: rgb(243, 240, 240);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.521);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/*Configuração LEFT e RIGHT da caixa de texto Responsivo*/
@media screen and (max-width: 560px) {
main {
 margin-left: -62px;
 margin-right: -58px;
}
}
